@use "mixins";

#app-actions__del{
  border: none;
  background-color: transparent;
  position: relative;
  @include mixins.action-text;
  cursor: pointer;
  &::after{
    content: '';
    position: absolute;
    color: var(--black);
    background-color: var(--black);
    transition: all 0.4s ease;
    bottom: 10px;
    left: 5px;
    width: 0;
    height: 3px;
  }
  &:hover::after{
    width: 90%;
  }
}

.app-actions__total{
  @include mixins.action-text;
}

.actions{
  display: flex;
  justify-content: space-between;
}