:root{
  --background: #F5F5F5;
  --main: #ffffff;
  --black: #000000;
  --border: #D9D9D9;
  --placeholder: #B3B3B3;
  --secondary-black: #2C2C2C;
  --text-list: #1E1E1E;
  --text-list-gray: #757575;
}